<div class="form-container">
  <div class="form-rotate">
    <div class="form">
      <h2 class="center">Login Form</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <!-- Email Field -->
        <mat-form-field appearance="fill" class="input">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="fill" class="input">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Password should have more than 4 characters
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
            Maximum length of password should be 15 characters
          </mat-error>
        </mat-form-field>

        <!-- Buttons -->
        <p>Forgot <span routerLink="/forgotPassword" class="span">password?</span></p>
        <p>Don't have account <span routerLink="/register" class="span">Sign up here?</span></p>
        <div class="buttons center">
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="resetForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
