/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Bubbles&display=swap');



html,
body {
    height: 100%;
    width: 100%;
    margin: unset;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}


/* // flex styles */

.flex {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

.spacebetween {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.center-start {
    justify-content: center;
}

.gap05 {
    gap: 0.5em
}

.gap-1 {
    gap: 1em
}

.gap-2 {
    gap: 2em
}
/* // Size styles */

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.flex-1 {
    flex: 1;
}

/* // Styling materials components */

.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

:host{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.mat-mdc-card-content {
    padding: 0 !important;
    display: flex !important;
}
.text-center {
    text-align: center !important;
}
