<form [formGroup]="changePwdForm" class="padding-20px">
    <div class="flex column gap-2">
        <p class="close" (click)="close()">X</p>
        <mat-form-field class="example-full-width">
            <mat-label>Current Password</mat-label>
            <input type="password" matInput formControlName="currentPwd" 
            placeholder="9801115169080" required>
            <mat-error *ngIf="changePwdForm.get('currentPwd')?.hasError('required')">
                Current password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPwd" 
            placeholder="9801115169080" required>
            <mat-error *ngIf="changePwdForm.get('newPwd')?.hasError('required')">
                New password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Confirm New Password</mat-label>
            <input type="password" matInput formControlName="confirmPwd" 
            placeholder="9801115169080" required>
            <mat-error *ngIf="changePwdForm.get('confirmPwd')?.hasError('required')">
                Confirm new password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="save()" >Change</button>
    </div>
</form>

